* {
  margin: 0px;
  padding: 0px;
}

#head1 {
  margin: 50px 50px 50px 50px;
  border: 10px solid black;
  padding: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <500>;
  font-style: bolder;
}

#para3 {
  color: brown;
  font-size: larger;
  margin-top: 50px;
  text-align: justify;
  border: 20px solid black;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
